@{
    ViewBag.Title = "Admin Dashboard";
}

<div class="container mt-4">

    <div class="text-center mb-4">
        <h2 class="fw-bold">Admin Dashboard</h2>

        <h3 class="fw-bold text-primary">
            Welcome Admin, @Session["UserName"] 👋
        </h3>
    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="card shadow-sm border-0 text-center p-4 users-card">
                <div class="mb-3">
                    <i class="fa-solid fa-users fa-2x"></i>
                </div>
                <h5>Total Users</h5>
                <h3>@ViewBag.TotalUsers</h3>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm border-0 text-center p-4 medicines-card">
                <div class="mb-3">
                    <i class="fa-solid fa-pills fa-2x"></i>
                </div>
                <h5>Total Medicines</h5>
                <h3>@ViewBag.TotalMedicines</h3>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm border-0 text-center p-4 lowstock-card">
                <div class="mb-3">
                    <i class="fa-solid fa-triangle-exclamation fa-2x"></i>
                </div>
                <h5>Low Stock Items</h5>
                <h3>@ViewBag.LowStock</h3>
            </div>
        </div>

    </div>

    <div class="text-center mt-5">
        <a href="@Url.Action("Index","Users")" class="btn btn-primary me-3 px-4">
            <i class="fa-solid fa-user-gear"></i> Manage Users
        </a>

        <a href="@Url.Action("Index","Medicines")" class="btn btn-success px-4">
            <i class="fa-solid fa-capsules"></i> Manage Medicines
        </a>
    </div>

</div>