@{
    ViewBag.Title = "Home";
}

<div class="text-center mt-5">
    <h1>Medicine Tracker & Online Pharmacy System</h1>
    <p class="lead">
        Track medicines, manage stock, and order easily.
    </p>

    <br />

    @if (Session["UserId"] == null)
    {
        <a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg">
            Login
        </a>

        <a href="@Url.Action("Register", "Account")" class="btn btn-success btn-lg">
            Register
        </a>
    }
    else
    {
        <h4>Welcome, @Session["Username"]</h4>

        <a href="@Url.Action("Dashboard", "Home")" class="btn btn-info">
            Go to Dashboard
        </a>

        <a href="@Url.Action("Logout", "Account")" class="btn btn-danger">
            Logout
        </a>
    }
</div>