@model IEnumerable<WebApplication1.Models.UserMedicine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dosage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReminderTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemainingQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedicineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dosage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReminderTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemainingQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserMedicineId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserMedicineId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserMedicineId })
        </td>
    </tr>
}

</table>
