
@model List<WebApplication1.Models.UserMedicine>

@{
    ViewBag.Title = "UserDashboard";
}

<h2>User Dashboard</h2>

<h4>Welcome User: @Session["UserName"]</h4>

<hr />

<p>
    <a href="@Url.Action("Create", "UserMedicines")" class="btn btn-primary">
        Add Medicine
    </a>
</p>

<table class="table table-bordered">
    <tr>
        <th>Medicine</th>
        <th>Dosage</th>
        <th>Reminder Time</th>
        <th>Remaining</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MedicineName</td>

            <td>@item.Dosage</td>

            <td>@item.ReminderTime.ToString(@"hh\:mm")</td>

            <td>
                @if (item.RemainingQuantity <= 5)
                {
                    <span class="text-danger fw-bold">
                        @(item.RemainingQuantity + " (Low!)")
                    </span>
                }
                else
                {
                    @item.RemainingQuantity
                }
            </td>

            <td>
                @if (item.Status == "Taken")
                {
                    <span class="badge bg-success">Taken</span>
                }
                else if (item.Status == "Missed")
                {
                    <span class="badge bg-danger">Missed</span>
                }
                else
                {
                    <span class="badge bg-warning text-dark">Pending</span>
                }
            </td>

            <td>
                <a href="@Url.Action("MarkTaken", "UserMedicines", new { id = item.UserMedicineId })"
                   class="btn btn-sm btn-success">Taken</a>

                <a href="@Url.Action("MarkMissed", "UserMedicines", new { id = item.UserMedicineId })"
                   class="btn btn-sm btn-danger">Missed</a>
            </td>
            <a href="@Url.Action("Edit", "UserMedicines", new { id = item.UserMedicineId })"
               class="btn btn-sm btn-primary">Edit</a>

            <a href="@Url.Action("Delete", "UserMedicines", new { id = item.UserMedicineId })"
               class="btn btn-sm btn-dark">Delete</a>
        </tr>
    }

</table>